.doby {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: transparent;
    height: 100vh;
}
.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 414px;
    height: 800px;
    border-radius: 40px;
    overflow: hidden;
    background-image: linear-gradient(
        to top,
        var(--homeBackBlue-color),
        var(--homeBackBluWhite-color)
    );
}
.Main1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 414px;
    height: 800px;
    border-radius: 40px;
    overflow: hidden;
    background-color: rgba(240, 248, 255, 0);
}
.Modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: transparent;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
}
.a {
    width: 100px;
    background-color: black;
}
.ContAll {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: start;
    border-radius: 40px;
    width: 412px;
    border: 1px solid var(--textBlue-color);
    height: 800px;
    background-image: linear-gradient(
        to top,
        #ffffff91,
        var(--textWhite-color)
    );
}
.Titlee {
    margin-top: 70px;
    font-size: 24px;
    font-weight: 200;
    color: var(--textBlue-color);
}
.ImgeOp1 {
    width: 30px;
}
.Button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 90%;
    color: var(--textWhite-color);
    height: 50px;
    padding: 10px;
    border-radius: 60px;
    font-size: 18px;
    font-weight: 200;
    background-color: var(--homeBackBlue-color);
    transition: all 0.3s ease;
    cursor: pointer;
}
.Button2 {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 90%;
    color: var(--textWhite-color);
    height: 50px;
    padding: 10px;
    border-radius: 60px;
    font-size: 18px;
    font-weight: 200;
    background-color: var(--searchgreen-color);
    transition: all 0.3s ease;
}
.Button3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    justify-content: left;
    width: 90%;
    color: var(--textWhite-color);
    height: 50px;
    padding: 10px;
    border-radius: 60px;
    font-size: 18px;
    font-weight: 200;
    background-color: var(--searchorange-color);
    transition: all 0.3s ease;
}
.Button3:hover,
.Button1:hover,
.Button2:hover {
    transform: scale(105%);
}
.Itens {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.texteall {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-evenly;
}
.ContSelect {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Op {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--textWhite-color);
}
.OpSelect {
    cursor: pointer;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--homeBackBlue-color);
}
.cONTtEXT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}
.Title {
    color: var(--textBlue-color);
    font-size: 64px;
    font-weight: 100;
}
.SubTitle {
    color: var(--textWhite-color);
    font-weight: 100;
}
@keyframes tRANLADE {
    0% {
        transform: translateY(70px);
    }
    100% {
        transform: translateY(0px);
    }
}
.Contimage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 50%;
    transition: all 0.3s ease;
    animation: tRANLADE 1s ease;
}

.image {
    width: 100%;
    object-fit: contain;
}
.ButtonCont {
    bottom: 80px;
    position: absolute;
    width: 414px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bUTTON {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--homeBackBlue-color);
    transition: all 0.3s ease;
    cursor: pointer;
}
.imgeButton {
}

.bUTTON:hover {
    transform: scale(110%) rotate(90deg);
}

/* .Contimage1 {
    opacity: 0;
} */
/* #home1:active .Contimage1 {
} */
#home1:active .Contimage {
    opacity: 0;
}
